files/relaxng-GuestRequests-OTA_ResRetrieveRS.rng

<?xml version="1.0"?>

<!-- 
     AlpineBits 2013-04 
     http://www.alpinebits.org/

     Relax NG grammar for OTA_ResRetrieveRS

     changelog:
     v. 2013-04 1.0 - added optional RatePlanCode attribute to RatePlan;
                      removed restrictions on the form of the ID attribute in UniqueID
     v. 2012-05 1.0

-->

<rng:grammar     xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        ns="http://www.opentravel.org/OTA/2003/05"
           datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <rng:include href="relaxng-common.rng"/>


    <!--
        The document root is OTA_ResRetrieveRS, it contains either
            - an empty Success element followed by a ReservationsList
              with zero or more HotelReservation elements with ResStatus
              quote or book
        or
            - Errors with a list of Error elements
    -->

    <rng:start>
        <rng:element name="OTA_ResRetrieveRS">
            <rng:attribute name="xsi:schemaLocation"/>
            <rng:attribute name="Version"/>
            <rng:choice>
                <rng:group>
                    <rng:ref name="def_success"/>
                    <rng:element name="ReservationsList">
                        <rng:zeroOrMore>
                            <rng:choice>
                                <rng:ref name="def_hr_quote"/>
                                <rng:ref name="def_hr_book"/>
                            </rng:choice>
                        </rng:zeroOrMore>
                    </rng:element>
                </rng:group>
                <rng:ref name="def_errors"/>
            </rng:choice>
        </rng:element>
    </rng:start>


    <!--
        A HotelReservation that is a inquiry for a quote (ResStatus="Quote").
    -->

    <rng:define name="def_hr_quote">
        <rng:element name="HotelReservation">
            <rng:ref name="def_createdatetime"/>
            <rng:attribute name="ResStatus">
                <rng:value type="string">Quote</rng:value>
            </rng:attribute>
            <rng:ref name="def_uniqueid"/>

            <!-- RoomStays for "Quote" -->
            <rng:element name="RoomStays">
                <!-- one or more regular RoomStay elements -->
                <rng:oneOrMore>
                    <rng:element name="RoomStay">
                        <rng:optional>
                            <rng:ref name="def_roomtypes"/>
                        </rng:optional>
                        <rng:optional>
                            <rng:element name="RatePlans">
                                <rng:element name="RatePlan">
                                    <rng:optional>
                                        <rng:attribute name="RatePlanCode">
                                            <rng:ref name="def_nonempty_string"/>
                                        </rng:attribute>
                                    </rng:optional>
                                    <rng:ref name="def_mealsincluded"/>
                                </rng:element>
                            </rng:element>
                        </rng:optional>
                        <rng:ref name="def_guestcounts"/>
                        <rng:ref name="def_timespan"/>
                        <rng:optional>
                            <rng:ref name="def_total"/>
                        </rng:optional>
                    </rng:element>
                </rng:oneOrMore>
                <!-- followed by an optional RoomStay element with just a timespan -->
                <rng:optional>
                    <rng:element name="RoomStay">
                        <rng:ref name="def_timespan"/>
                    </rng:element>
                </rng:optional>
            </rng:element>

            <!-- ResGuests for "Quote" -->
            <rng:element name="ResGuests">
                <rng:element name="ResGuest">
                    <rng:element name="Profiles">
                        <rng:element name="ProfileInfo">
                            <rng:element name="Profile">
                                <rng:element name="Customer">
                                    <rng:ref name="def_gender_attribute"/>
                                    <rng:optional>
                                        <rng:ref name="def_birthdate_attribute"/>
                                    </rng:optional>
                                    <rng:ref name="def_language_attribute"/>
                                    <rng:ref name="def_personname"/>
                                    <rng:choice>
                                        <!-- either phone(s) -->
                                        <rng:group>
                                            <rng:ref name="def_telephone"/>
                                            <rng:zeroOrMore>
                                                <rng:ref name="def_telephone"/>
                                            </rng:zeroOrMore>
                                        </rng:group>
                                        <!-- or email -->
                                        <rng:ref name="def_email"/>
                                        <!-- or phone(s) followed by email -->
                                        <rng:group>
                                           <rng:ref name="def_telephone"/>
                                            <rng:zeroOrMore>
                                                <rng:ref name="def_telephone"/>
                                            </rng:zeroOrMore>
                                            <rng:ref name="def_email"/>
                                        </rng:group>
                                    </rng:choice>
                                    <rng:optional>
                                        <rng:ref name="def_address"/>
                                    </rng:optional>
                                </rng:element>
                            </rng:element>
                        </rng:element>
                    </rng:element>
                </rng:element>
            </rng:element>

            <!-- ResGlobalInfo for "Quote" -->
            <rng:element name="ResGlobalInfo">
                <rng:optional>
                    <rng:element name="Comments">
                        <rng:choice>
                            <rng:ref name="def_comment_services"/>
                            <rng:ref name="def_comment_customer"/>
                            <rng:group>
                                <rng:ref name="def_comment_services"/>
                                <rng:ref name="def_comment_customer"/>
                            </rng:group>
                        </rng:choice>
                    </rng:element>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="def_hotelreservation_ids"/>
                </rng:optional>
            </rng:element>

        </rng:element>
    </rng:define>


    <!--
        A HotelReservation that is a inquiry for a reservation (ResStatus="Book").
    -->

    <rng:define name="def_hr_book">
        <rng:element name="HotelReservation">
            <rng:ref name="def_createdatetime"/>
            <rng:attribute name="ResStatus">
                <rng:value type="string">Book</rng:value>
            </rng:attribute>
            <rng:ref name="def_uniqueid"/>

            <!-- RoomStays for "Book" -->
            <rng:element name="RoomStays">
                <rng:oneOrMore>
                    <rng:element name="RoomStay">
                        <rng:ref name="def_roomtypes"/>
                        <rng:element name="RatePlans">
                            <rng:element name="RatePlan">
                                <rng:optional>
                                    <rng:attribute name="RatePlanCode">
                                        <rng:ref name="def_nonempty_string"/>
                                    </rng:attribute>
                                </rng:optional>
                                <rng:ref name="def_mealsincluded"/>
                            </rng:element>
                        </rng:element>
                        <rng:ref name="def_guestcounts"/>
                        <rng:ref name="def_timespan"/>
                        <rng:ref name="def_total"/>
                    </rng:element>
                </rng:oneOrMore>
            </rng:element>

            <!-- ResGuests for "Book" -->
            <rng:element name="ResGuests">
                <rng:element name="ResGuest">
                    <rng:element name="Profiles">
                        <rng:element name="ProfileInfo">
                            <rng:element name="Profile">
                                <rng:element name="Customer">
                                    <rng:ref name="def_gender_attribute"/>
                                    <rng:optional>
                                        <rng:ref name="def_birthdate_attribute"/>
                                    </rng:optional>
                                    <rng:ref name="def_language_attribute"/>
                                    <rng:ref name="def_personname"/>
                                    <rng:choice>
                                        <!-- either phone(s) -->
                                        <rng:group>
                                            <rng:ref name="def_telephone"/>
                                            <rng:zeroOrMore>
                                                <rng:ref name="def_telephone"/>
                                            </rng:zeroOrMore>
                                        </rng:group>
                                        <!-- or email -->
                                        <rng:ref name="def_email"/>
                                        <!-- or phone(s) followed by email -->
                                        <rng:group>
                                           <rng:ref name="def_telephone"/>
                                            <rng:zeroOrMore>
                                                <rng:ref name="def_telephone"/>
                                            </rng:zeroOrMore>
                                            <rng:ref name="def_email"/>
                                        </rng:group>
                                    </rng:choice>
                                    <rng:ref name="def_address"/>
                                </rng:element>
                            </rng:element>
                        </rng:element>
                    </rng:element>
                </rng:element>
            </rng:element>

            <!-- ResGlobalInfo for "Book" -->
            <rng:element name="ResGlobalInfo">
                <rng:optional>
                    <rng:element name="Comments">
                        <rng:choice>
                            <rng:ref name="def_comment_services"/>
                            <rng:ref name="def_comment_customer"/>
                            <rng:group>
                                <rng:ref name="def_comment_services"/>
                                <rng:ref name="def_comment_customer"/>
                            </rng:group>
                        </rng:choice>
                    </rng:element>
                </rng:optional>
                <rng:element name="CancelPenalties">
                    <rng:element name="CancelPenalty">
                        <rng:element name="PenaltyDescription">
                            <rng:element name="Text">
                                <rng:ref name="def_nonempty_string"/>
                            </rng:element>
                        </rng:element>
                    </rng:element>
                </rng:element>
                <rng:optional>
                    <rng:ref name="def_hotelreservation_ids"/>
                </rng:optional>
            </rng:element>

        </rng:element>
    </rng:define>


    <!-- 
        The element UniqueID must have attributes Type="14" and ID
    -->

    <rng:define name="def_uniqueid">
        <rng:element name="UniqueID">
            <rng:attribute name="Type">
                <rng:value type="string">14</rng:value>
            </rng:attribute>
            <rng:attribute name="ID">
                <rng:ref name="def_nonempty_string"/>
            </rng:attribute>
        </rng:element>
    </rng:define>


    <!-- 
        The element GuestCounts must contain one GuestCount without Age attribute (adults)
        and zero or more with the Age attribute (children).
    -->

    <rng:define name="def_guestcounts">
        <rng:element name="GuestCounts">
            <rng:element name="GuestCount">
                <rng:attribute name="Count">
                    <rng:ref name="def_int_gt0"/>
                </rng:attribute>
            </rng:element>
            <rng:zeroOrMore>
                <rng:element name="GuestCount">
                    <rng:attribute name="Count">
                        <rng:ref name="def_int_gt0"/>
                    </rng:attribute>
                    <rng:attribute name="Age">
                        <rng:ref name="def_int_ge0"/>
                    </rng:attribute>
                </rng:element>
            </rng:zeroOrMore>
        </rng:element>
    </rng:define>


    <!-- 
        The element TimeSpan.
    -->

    <rng:define name="def_timespan">
        <rng:element name="TimeSpan">
            <rng:ref name="def_duration_attribute"/>
            <rng:element name="StartDateWindow">
                <rng:attribute name="EarliestDate">
                    <rng:ref name="def_date"/>
                </rng:attribute>
                <rng:attribute name="LatestDate">
                    <rng:ref name="def_date"/>
                </rng:attribute>
            </rng:element>
        </rng:element>
    </rng:define>


    <!-- 
        The element Total.
    -->

    <rng:define name="def_total">
        <rng:element name="Total">
            <rng:attribute name="AmountAfterTax">
                <rng:ref name="def_decimal_ge0"/>
            </rng:attribute>
            <rng:attribute name="CurrencyCode">
                <rng:ref name="def_nonempty_string"/>
            </rng:attribute>
        </rng:element>
    </rng:define>


    <!-- 
        The element PersonName with NamePrefix, GivenName, Surname and Name.
    -->

    <rng:define name="def_personname">
       <rng:element name="PersonName">
            <rng:optional>
                <rng:element name="NamePrefix">
                    <rng:ref name="def_nonempty_string"/>
                </rng:element>
            </rng:optional>
            <rng:element name="GivenName">
                <rng:ref name="def_nonempty_string"/>
            </rng:element>
            <rng:element name="Surname">
                <rng:ref name="def_nonempty_string"/>
            </rng:element>
            <rng:optional>
                <rng:element name="NameTitle">
                    <rng:ref name="def_nonempty_string"/>
                </rng:element>
            </rng:optional>
        </rng:element>
    </rng:define>


    <!-- 
        The element Email.
    -->

    <rng:define name="def_email">
        <rng:element name="Email">
            <rng:optional>
                <rng:attribute name="Remark">
                    <rng:data type="string">
                        <rng:param name="pattern">newsletter:(no|yes)</rng:param>
                    </rng:data> 
                </rng:attribute>
            </rng:optional>
                <rng:data type="string"> 
                    <rng:param name="pattern">\S+@\S+</rng:param>
                </rng:data> 
        </rng:element>
    </rng:define>


    <!-- 
        The element Telephone.
    -->

    <rng:define name="def_telephone">
        <rng:element name="Telephone">
            <rng:attribute name="PhoneTechType">
                <rng:data type="string"> 
                    <rng:param name="pattern">(1|3|5)</rng:param>
                </rng:data> 
            </rng:attribute>
            <rng:attribute name="PhoneNumber">
                <rng:data type="string"> 
                    <rng:param name="pattern">\+?[0-9]+</rng:param>
                </rng:data> 
            </rng:attribute>
        </rng:element>
    </rng:define>


    <!-- 
        The element Address.
    -->

    <rng:define name="def_address">
        <rng:element name="Address">
            <rng:optional>
                <rng:attribute name="Remark">
                    <rng:data type="string">
                        <rng:param name="pattern">catalog:(no|yes)</rng:param>
                    </rng:data> 
                </rng:attribute>
            </rng:optional>
            <rng:element name="AddressLine">
                <rng:ref name="def_nonempty_string"/> 
            </rng:element>
            <rng:element name="CityName">
                <rng:ref name="def_nonempty_string"/> 
            </rng:element>
            <rng:element name="PostalCode">
                <rng:ref name="def_nonempty_string"/> 
            </rng:element>
            <rng:element name="CountryName">
                <rng:attribute name="Code">
                    <rng:data type="string">
                        <rng:param name="pattern">[A-Z][A-Z]</rng:param>
                    </rng:data>
                </rng:attribute>
            </rng:element>
        </rng:element>
    </rng:define>


    <!-- 
        The Coment element with Name="included services".
    -->

    <rng:define name="def_comment_services">
         <rng:element name="Comment">
            <rng:attribute name="Name">
                <rng:value type="string">included services</rng:value>
            </rng:attribute>
            <rng:oneOrMore>
                <rng:ref name="def_listitem"/>
            </rng:oneOrMore>
        </rng:element>
    </rng:define>


    <!-- 
        The Coment element with Name="customer comment".
    -->

    <rng:define name="def_comment_customer">
         <rng:element name="Comment">
            <rng:attribute name="Name">
                <rng:value type="string">customer comment</rng:value>
            </rng:attribute>
            <rng:element name="Text">
                <rng:ref name="def_nonempty_string"/>
            </rng:element>
        </rng:element>
    </rng:define>


    <!-- 
        The HotelReservationIDs element.
    -->

    <rng:define name="def_hotelreservation_ids">
        <rng:element name="HotelReservationIDs">
            <rng:element name="HotelReservationID">
                <rng:attribute name="ResID_Type">
                    <rng:value type="string">13</rng:value>
                </rng:attribute>
                <rng:optional>
                    <rng:attribute name="ResID_Value">
                        <rng:ref name="def_nonempty_string"/>
                    </rng:attribute>
                </rng:optional>
                <rng:optional>
                    <rng:attribute name="ResID_Source">
                        <rng:ref name="def_nonempty_string"/>
                    </rng:attribute>
                </rng:optional>
                <rng:optional>
                    <rng:attribute name="ResID_SourceContext">
                        <rng:ref name="def_nonempty_string"/>
                    </rng:attribute>
                </rng:optional>
            </rng:element>
        </rng:element>
    </rng:define>


    <!--
        The following are some simple building blocks.
    -->

    <rng:define name="def_roomtypes">
        <rng:element name="RoomTypes">
            <rng:element name="RoomType">
                <rng:attribute name="RoomTypeCode">
                    <rng:ref name="def_nonempty_string"/>
                </rng:attribute>
            </rng:element>
        </rng:element>
    </rng:define>

    <rng:define name="def_gender_attribute">
        <rng:attribute name="Gender">
            <rng:data type="string"> 
                <rng:param name="pattern">(Unknown|Male|Female)</rng:param>
            </rng:data> 
        </rng:attribute>
    </rng:define>

    <rng:define name="def_birthdate_attribute">
        <rng:attribute name="BirthDate">
            <rng:ref name="def_date"/>
        </rng:attribute>
    </rng:define>

    <rng:define name="def_createdatetime">
        <rng:attribute name="CreateDateTime">
            <rng:ref name="def_datetime"/>
        </rng:attribute>
    </rng:define>


</rng:grammar>
