files/schema-common.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  AlpineBits 2013-04 
  http://www.alpinebits.org/
  
  W3C XML Schema file

  Note: to assure the highest possibile conformance, check this file against
  http://www.w3.org/2001/03/webdata/xsv after any updates!

  changelog:
   v. 2013-04 1.0 - the XML schema is now flattened into this single file;
                    some improvements by Martin;
                    added optional RatePlanCode attribute to RatePlan;
                    removed restrictions on the form of the ID attribute in UniqueID
  
  previous changelogs:

  W3C XML Schema for OTA_HotelAvailNotifRQ:
    v. 2013-04 1.0 - added MessageContentCode attribute for delta messages
    v. 2012-05 1.2 - changed Thu -> Thur and Wed -> Weds for OTA compatibility
    v. 2012-05 1.1 - added optional TimeStamp attribute for OTA_HotelAvailNotifRQ to be compatible with AlpineBits 2011-11 documents
    v. 2012-05 1.0
      
  W3C XML Schema for OTA_HotelAvailNotifRS:
    v. 2013-04 1.0 - added warnings
    v. 2012-05 1.0
  
  W3C XML Schema for OTA_ReadRQ:
    v. 2012-05 1.0
  
  W3C XML Schema for OTA_ResRetrieveRS:
    v. 2013-04 1.0 - simplified the definition of GuestCounts for XSD conformance,
                     moved UniqueID and RatePlans elements to common to support schema flattening
    v. 2012-05 1.0
  
  W3C XML Schema for OTA_HotelRatePlanNotifRQ:
    v. 2013-04 1.0 - removed def_plaintext and simplified def_rate_plan to fix an issue with the parsing of the schema,
                     moved UniqueID and RatePlans elements to common
    v. 2012-05 1.2 - changed Thu -> Thur and Wed -> Weds for OTA compatibility
    v. 2012-05 1.0
  
  W3C XML Schema for OTA_HotelRatePlanNotifRS:
    v. 2013-04 1.0 - added warnings
    v. 2012-05 1.0
  
  
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.opentravel.org/OTA/2003/05"
           xmlns="http://www.opentravel.org/OTA/2003/05">


  <!-- Root elements for FreeRooms. -->

  <xs:element name="OTA_HotelAvailNotifRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AvailStatusMessages"/>
      </xs:sequence>
      <xs:attribute name="Version" use="required"/>
      <xs:attribute name="TimeStamp"/>
      <xs:attribute name="MessageContentCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailStatusMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="AvailStatusMessage"/>
      </xs:sequence>
      <xs:attribute name="HotelCode" type="def_nonempty_string"/>
      <xs:attribute name="HotelName" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="OTA_HotelAvailNotifRS">
    <xs:complexType>
      <xs:choice>
        <xs:group   ref="def_success_with_warnings"/>
        <xs:element ref="Errors"/>
      </xs:choice>
      <xs:attribute name="Version" use="required"/>
    </xs:complexType>
  </xs:element>


  <!-- Root elements for GuestRequests. -->

  <xs:element name="OTA_ReadRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ReadRequests"/>
      </xs:sequence>
      <xs:attribute name="Version" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="OTA_ResRetrieveRS">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="Success"/>
          <xs:element ref="ReservationsList"/>
        </xs:sequence>
        <xs:element ref="Errors"/>
      </xs:choice>
      <xs:attribute name="Version" use="required"/>
    </xs:complexType>
  </xs:element>


  <!-- Root elements for SimplePackages. -->

  <xs:element name="OTA_HotelRatePlanNotifRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="RatePlans"/>
      </xs:sequence>
      <xs:attribute name="Version" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="OTA_HotelRatePlanNotifRS">
    <xs:complexType>
      <xs:choice>
        <xs:group   ref="def_success_with_warnings"/>
        <xs:element ref="Errors"/>
      </xs:choice>
      <xs:attribute name="Version" use="required"/>
    </xs:complexType>
  </xs:element>


  <!-- Success, Warnings, Errors -->

  <xs:group name="def_success_with_warnings">
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="Success"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Warnings"/>
      </xs:sequence>
  </xs:group>

  <xs:element name="Success">
    <xs:complexType/>
  </xs:element>

  <xs:element name="Warnings">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Warning"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Warning">
    <xs:complexType mixed="true">
      <xs:attribute name="Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="11"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="RecordID" use="optional">
       <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-f]{16}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="Errors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Error"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Error">
    <xs:complexType mixed="true">
      <xs:attribute name="Type" use="required" type="def_int_ge0"/>
    </xs:complexType>
  </xs:element>


  <!--
    The AvailStatusMessage element with its children:
    StatusApplicationControl and LengthsOfStay/LengthOfStay.
  -->

  <xs:element name="AvailStatusMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="StatusApplicationControl"/>
        <xs:element minOccurs="0" ref="LengthsOfStay"/>
      </xs:sequence>
      <xs:attribute name="BookingLimit" use="required" type="def_int_ge0"/>
      <xs:attribute name="BookingLimitMessageType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="SetLimit"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="StatusApplicationControl">
    <xs:complexType>
      <xs:attribute name="Start" use="required" type="def_date"/>
      <xs:attribute name="End" use="required" type="def_date"/>
      <xs:attribute name="InvCode" use="required" type="def_nonempty_string"/>
      <xs:attribute name="IsRoom" use="required" type="def_bool"/>
      <xs:attribute name="Mon"  type="def_bool"/>
      <xs:attribute name="Tue"  type="def_bool"/>
      <xs:attribute name="Weds" type="def_bool"/>
      <xs:attribute name="Thur" type="def_bool"/>
      <xs:attribute name="Fri"  type="def_bool"/>
      <xs:attribute name="Sat"  type="def_bool"/>
      <xs:attribute name="Sun"  type="def_bool"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="LengthsOfStay">
    <xs:complexType>
        <xs:sequence>
          <xs:group minOccurs="1" maxOccurs="2" ref="def_los"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!-- The LengthOfStay elements with SetMinLOS or SetMaxLOS. -->

  <xs:group name="def_los">
    <xs:sequence>
      <xs:element name="LengthOfStay">
        <xs:complexType>
          <xs:attribute name="MinMaxMessageType" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="SetMinLOS"/>
                <xs:enumeration value="SetMaxLOS"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="Time" use="required" type="def_int_gt0"/>
          <xs:attribute name="TimeUnit" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Day"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>


  <!-- RatePlans:
       this is used (in vastly different ways) in GuestRequests and SimplePackages. -->

  <xs:element name="RatePlans">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="RatePlan" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
                  
                  <!-- MealsIncluded in GuestRequests -->

                  <xs:element minOccurs="0" ref="MealsIncluded"/>

                  <!-- Rates + Description + UniqueID + HotelRef in SimplePackages -->
                  
                  <xs:element minOccurs="0" ref="Rates"/>
            
                  <xs:element minOccurs="0" maxOccurs="5" name="Description">
                    <xs:complexType>
                      <xs:sequence maxOccurs="unbounded">
                          <xs:choice>
                            <xs:group ref="def_plaintext_or_html"/>
                            <xs:group ref="def_images"/>
                            <xs:group ref="def_optional_urls"/>
                            <xs:element ref="ListItem"/>
                          </xs:choice>
                      </xs:sequence>
                      <xs:attribute name="Name" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="title"/>
                            <xs:enumeration value="intro"/>
                            <xs:enumeration value="gallery"/>
                            <xs:enumeration value="details"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
       
                <xs:element minOccurs="0" ref="UniqueID"/>
    
                <xs:element minOccurs="0" ref="HotelRef"/>
    
              </xs:sequence>     

            <xs:attribute name="Start" type="def_date"/>
            <xs:attribute name="End" type="def_date"/>
            <xs:attribute name="RatePlanCode" type="def_nonempty_string"/>

          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!-- MealsIncluded -->

  <xs:element name="MealsIncluded">
    <xs:complexType>
      <xs:attribute name="MealPlanCodes">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Breakfast" use="required" type="def_bool"/>
      <xs:attribute name="Lunch" use="required" type="def_bool"/>
      <xs:attribute name="Dinner" use="required" type="def_bool"/>
    </xs:complexType>
  </xs:element>


  <!--
    A Rate element has attributes MinGuestApplicable, Start, End, Mon, Tue, Weds, Thur,
    Fri, Sat, Sun and Duration and its children are:
       - BaseByGuestAmts with one BaseByGuestAmt element,
       - RateDescription,
       - MealsIncluded.
  -->

 <xs:element name="Rates">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Rate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Rate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BaseByGuestAmts"/>
        <xs:element minOccurs="0" ref="RateDescription"/>
        <xs:element ref="MealsIncluded"/>
      </xs:sequence>
      <xs:attribute name="MinGuestApplicable" use="required" type="def_int_gt0"/>
      <xs:attribute name="Start" use="required" type="def_date"/>
      <xs:attribute name="End"  use="required" type="def_date"/>
      <xs:attribute name="Mon"  type="def_bool"/>
      <xs:attribute name="Tue"  type="def_bool"/>
      <xs:attribute name="Weds" type="def_bool"/>
      <xs:attribute name="Thur" type="def_bool"/>
      <xs:attribute name="Fri"  type="def_bool"/>
      <xs:attribute name="Sat"  type="def_bool"/>
      <xs:attribute name="Sun"  type="def_bool"/>
      <xs:attributeGroup ref="def_duration_attribute"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="BaseByGuestAmts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BaseByGuestAmt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="BaseByGuestAmt">
    <xs:complexType>
      <xs:attribute name="NumberOfGuests" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="AmountAfterTax" use="required" type="def_decimal_ge0"/>
      <xs:attribute name="CurrencyCode" use="required" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="RateDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ListItem"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="included services"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <!-- The element HotelRef must have at least one of the two attributes HotelCode, HotelName. -->

  <xs:element name="HotelRef">
    <xs:complexType>
      <xs:attribute name="HotelCode" type="def_nonempty_string"/>
      <xs:attribute name="HotelName" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>


  <!-- UniqueID:
       must have Type="14" for GuestRequests and Type="18" for SimplePackages. -->

  <xs:element name="UniqueID">
    <xs:complexType>
      <xs:attribute name="Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="14"/>
            <xs:enumeration value="18"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ID" use="required" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>


  <!-- ListItem -->

  <xs:element name="ListItem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="def_nonempty_string">
          <xs:attribute name="ListItem" use="required" type="def_int_ge0"/>
          <xs:attributeGroup ref="def_language_attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:group name="def_plaintext_or_html">
    <xs:sequence>
      <xs:element name="Text">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="def_nonempty_string">
              <xs:attribute name="TextFormat" use="required">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="PlainText"/>
                    <xs:enumeration value="HTML"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attributeGroup ref="def_language_attribute"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="def_optional_urls">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="URL"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="URL">
    <xs:simpleType>
      <xs:restriction base="xs:anyURI">
        <xs:pattern value="https?://.+"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:group name="def_images">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="Image"/>
    </xs:sequence>
  </xs:group>

  <xs:element name="Image">
    <xs:simpleType>
      <xs:restriction base="xs:anyURI">
        <xs:pattern value="https?://.+"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>


  <!-- Language attribute -->

  <xs:attributeGroup name="def_language_attribute">
    <xs:attribute name="Language" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:language">
          <xs:pattern value="[a-z][a-z]"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>


  <!-- Duration attribute -->

  <xs:attributeGroup name="def_duration_attribute">
    <xs:attribute name="Duration" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="P[0-9]+N"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>


  <!-- Stuff for GuestRequests. -->

  <xs:element name="ReadRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HotelReadRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="HotelReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="SelectionCriteria"/>
      </xs:sequence>
      <xs:attribute name="HotelCode" type="def_nonempty_string"/>
      <xs:attribute name="HotelName" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="SelectionCriteria">
    <xs:complexType>
      <xs:attribute name="Start" use="required" type="def_datetime"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReservationsList">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="def_hr" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Comments">
    <xs:complexType>
        <xs:sequence>
          <xs:group minOccurs="0" maxOccurs="2" ref="def_comment"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!-- A HotelReservation (ResStatus="Book" or ResStatus="Quote"). -->

  <xs:group name="def_hr">
    <xs:sequence>
      <xs:element name="HotelReservation">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UniqueID"/>
            <xs:element name="RoomStays">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="RoomStay">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" ref="RoomTypes"/>
                        <xs:element minOccurs="0" ref="RatePlans"/>
                        <xs:element minOccurs="0" ref="GuestCounts"/>
                        <xs:element ref="TimeSpan"/>
                        <xs:element minOccurs="0" ref="Total"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ResGuests">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ResGuest">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Profiles">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ProfileInfo">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Profile">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Customer">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element ref="PersonName"/>
                                                  <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="Telephone"/>
                                                  </xs:sequence>
                                                  <xs:element minOccurs="0" ref="Email"/>
                                                <xs:element minOccurs="0" ref="Address"/>
                                              </xs:sequence>
                                              <xs:attributeGroup ref="def_gender_attribute"/>
                                              <xs:attribute name="BirthDate" type="def_date"/>
                                              <xs:attributeGroup ref="def_language_attribute"/>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ResGlobalInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" ref="Comments"/>
                  <xs:element minOccurs="0" ref="CancelPenalties"/>
                  <xs:element minOccurs="0" ref="HotelReservationIDs"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attributeGroup ref="def_createdatetime"/>
          <xs:attribute name="ResStatus" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Book"/>
                <xs:enumeration value="Quote"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="CancelPenalties">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CancelPenalty"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CancelPenalty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PenaltyDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PenaltyDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Text" type="def_nonempty_string"/>


  <!-- GuestCounts -->

  <xs:element name="GuestCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="GuestCount">
          <xs:complexType>
            <xs:attribute name="Count" use="required" type="def_int_gt0"/>
            <xs:attribute name="Age" type="def_int_ge0"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!-- TimeSpan -->

  <xs:element name="TimeSpan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="StartDateWindow"/>
      </xs:sequence>
      <xs:attributeGroup ref="def_duration_attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDateWindow">
    <xs:complexType>
      <xs:attribute name="EarliestDate" use="required" type="def_date"/>
      <xs:attribute name="LatestDate" use="required" type="def_date"/>
    </xs:complexType>
  </xs:element>


  <!-- Total -->

  <xs:element name="Total">
    <xs:complexType>
      <xs:attribute name="AmountAfterTax" use="required" type="def_decimal_ge0"/>
      <xs:attribute name="CurrencyCode" use="required" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>


  <!-- PersonName with NamePrefix, GivenName, Surname and Name. -->

  <xs:element name="PersonName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="NamePrefix"/>
        <xs:element ref="GivenName"/>
        <xs:element ref="Surname"/>
        <xs:element minOccurs="0" ref="NameTitle"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NamePrefix" type="def_nonempty_string"/>
  <xs:element name="GivenName" type="def_nonempty_string"/>
  <xs:element name="Surname" type="def_nonempty_string"/>
  <xs:element name="NameTitle" type="def_nonempty_string"/>


  <!-- Email. -->

  <xs:simpleType name="def_email">
    <xs:restriction base="xs:string">
      <xs:pattern value="\S+@\S+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Email">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="def_email">
          <xs:attribute name="Remark">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="newsletter:(no|yes)"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>


  <!-- Telephone. -->

  <xs:element name="Telephone">
    <xs:complexType>
      <xs:attribute name="PhoneTechType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(1|3|5)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="PhoneNumber" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\+?[0-9]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <!-- Address. -->

  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AddressLine"/>
        <xs:element ref="CityName"/>
        <xs:element ref="PostalCode"/>
        <xs:element ref="CountryName"/>
      </xs:sequence>
      <xs:attribute name="Remark">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="catalog:(no|yes)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressLine" type="def_nonempty_string"/>
  <xs:element name="CityName" type="def_nonempty_string"/>
  <xs:element name="PostalCode" type="def_nonempty_string"/>
  <xs:element name="CountryName">
    <xs:complexType>
      <xs:attribute name="Code" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][A-Z]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <!-- A Coment element with a Name attribute, containing ListItems. -->

  <xs:group name="def_comment">
    <xs:sequence>
      <xs:element name="Comment">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="unbounded" ref="ListItem"/>
                <xs:element maxOccurs="unbounded" ref="Text"/>
            </xs:choice>
          </xs:sequence>
          <xs:attribute name="Name" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="included services"/>
                <xs:enumeration value="customer comment"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>


  <!-- The HotelReservationIDs element. -->

  <xs:element name="HotelReservationIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HotelReservationID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelReservationID">
    <xs:complexType>
      <xs:attribute name="ResID_Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ResID_Value" type="def_nonempty_string"/>
      <xs:attribute name="ResID_Source" type="def_nonempty_string"/>
      <xs:attribute name="ResID_SourceContext" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>


  <!-- The following are some simple building blocks. -->

  <xs:element name="RoomTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RoomType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoomType">
    <xs:complexType>
      <xs:attribute name="RoomTypeCode" use="required" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="def_gender_attribute">
    <xs:attribute name="Gender" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="(Unknown|Male|Female)"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="def_birthdate_attribute">
    <xs:attribute name="BirthDate" use="required" type="def_date"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="def_createdatetime">
    <xs:attribute name="CreateDateTime" use="required" type="def_datetime"/>
  </xs:attributeGroup>


  <!-- A generic non-empty string type. -->

  <xs:simpleType name="def_nonempty_string">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- A generic integer > 0 type. -->

  <xs:simpleType name="def_int_gt0">
    <xs:restriction base="xs:positiveInteger">
      <xs:pattern value="[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- A generic integer >= 0 type. -->

  <xs:simpleType name="def_int_ge0">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:pattern value="[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- A generic decimal >= 0 type. -->

  <xs:simpleType name="def_decimal_ge0">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
      <xs:pattern value="[0-9]*\.?[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- A generic date type. -->

  <xs:simpleType name="def_date">
    <xs:restriction base="xs:date">
      <xs:pattern value="\S+"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- A generic datetime type. -->

  <xs:simpleType name="def_datetime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="\S+"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- A generic boolean type. -->

  <xs:simpleType name="def_bool">
    <xs:restriction base="xs:boolean">
      <xs:pattern value="(true|false)"/>
    </xs:restriction>
  </xs:simpleType>


</xs:schema>
