files/schema-GuestRequests-OTA_ResRetrieveRS.xsd

<?xml version="1.0" encoding="UTF-8"?>


<!--
  AlpineBits 2012-05
  http://www.alpinebits.org/
  
  W3C XML Schema for OTA_ResRetrieveRS
  v. 2012-05.1.0
  
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.opentravel.org/OTA/2003/05"
           xmlns="http://www.opentravel.org/OTA/2003/05">

  <xs:include schemaLocation="schema-common.xsd"/>

  <!--
    The document root is OTA_ResRetrieveRS, it contains either
        - an empty Success element followed by a ReservationsList
          with zero or more HotelReservation elements with ResStatus
          quote or book
    or
        - Errors with a list of Error elements
  -->

  <xs:element name="OTA_ResRetrieveRS">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="Success"/>
          <xs:element ref="ReservationsList"/>
        </xs:sequence>
        <xs:element ref="Errors"/>
      </xs:choice>
      <xs:attribute name="Version" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReservationsList">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="def_hr"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="RatePlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RatePlan"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RatePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MealsIncluded">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Comments">
    <xs:complexType>
        <xs:sequence>
          <xs:group minOccurs="0" maxOccurs="2" ref="def_comment"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!-- A HotelReservation (ResStatus="Book" or ResStatus="Quote"). -->

  <xs:group name="def_hr">
    <xs:sequence>
      <xs:element name="HotelReservation">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UniqueID"/>
            <xs:element name="RoomStays">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="RoomStay">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" ref="RoomTypes"/>
                        <xs:element minOccurs="0" ref="RatePlans"/>
                        <xs:element minOccurs="0" ref="GuestCounts"/>
                        <xs:element ref="TimeSpan"/>
                        <xs:element minOccurs="0" ref="Total"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ResGuests">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ResGuest">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Profiles">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ProfileInfo">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Profile">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Customer">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element ref="PersonName"/>
                                                  <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="Telephone"/>
                                                  </xs:sequence>
                                                  <xs:element minOccurs="0" ref="Email"/>
                                                <xs:element minOccurs="0" ref="Address"/>
                                              </xs:sequence>
                                              <xs:attributeGroup ref="def_gender_attribute"/>
                                              <xs:attribute name="BirthDate" type="def_date"/>
                                              <xs:attributeGroup ref="def_language_attribute"/>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ResGlobalInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" ref="Comments"/>
                  <xs:element minOccurs="0" ref="CancelPenalties"/>
                  <xs:element minOccurs="0" ref="HotelReservationIDs"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attributeGroup ref="def_createdatetime"/>
          <xs:attribute name="ResStatus" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Book"/>
                <xs:enumeration value="Quote"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="CancelPenalties">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CancelPenalty"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CancelPenalty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PenaltyDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PenaltyDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Text" type="def_nonempty_string"/>


  <!-- The element UniqueID must have attributes Type="14" and ID -->

  <xs:element name="UniqueID">
    <xs:complexType>
      <xs:attribute name="Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ID" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-f]{16}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <!--
    The element GuestCounts must contain one GuestCount without Age attribute (adults)
    and zero or more with the Age attribute (children).
  -->

  <xs:element name="GuestCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GuestCount">
          <xs:complexType>
            <xs:attribute name="Count" use="required" type="def_int_gt0"/>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="GuestCount">
          <xs:complexType>
            <xs:attribute name="Count" use="required" type="def_int_gt0"/>
            <xs:attribute name="Age" use="required" type="def_int_ge0"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!-- The element TimeSpan. -->

  <xs:element name="TimeSpan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="StartDateWindow"/>
      </xs:sequence>
      <xs:attributeGroup ref="def_duration_attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDateWindow">
    <xs:complexType>
      <xs:attribute name="EarliestDate" use="required" type="def_date"/>
      <xs:attribute name="LatestDate" use="required" type="def_date"/>
    </xs:complexType>
  </xs:element>


  <!-- The element Total. -->

  <xs:element name="Total">
    <xs:complexType>
      <xs:attribute name="AmountAfterTax" use="required" type="def_decimal_ge0"/>
      <xs:attribute name="CurrencyCode" use="required" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>


  <!-- The element PersonName with NamePrefix, GivenName, Surname and Name. -->

  <xs:element name="PersonName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="NamePrefix"/>
        <xs:element ref="GivenName"/>
        <xs:element ref="Surname"/>
        <xs:element minOccurs="0" ref="NameTitle"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NamePrefix" type="def_nonempty_string"/>
  <xs:element name="GivenName" type="def_nonempty_string"/>
  <xs:element name="Surname" type="def_nonempty_string"/>
  <xs:element name="NameTitle" type="def_nonempty_string"/>


  <!-- The element Email. -->

  <xs:element name="Email">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\S+@\S+"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:attribute name="Remark">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="newsletter:(no|yes)"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>


  <!-- The element Telephone. -->

  <xs:element name="Telephone">
    <xs:complexType>
      <xs:attribute name="PhoneTechType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(1|3|5)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="PhoneNumber" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\+?[0-9]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <!-- The element Address. -->

  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AddressLine"/>
        <xs:element ref="CityName"/>
        <xs:element ref="PostalCode"/>
        <xs:element ref="CountryName"/>
      </xs:sequence>
      <xs:attribute name="Remark">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="catalog:(no|yes)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressLine" type="def_nonempty_string"/>
  <xs:element name="CityName" type="def_nonempty_string"/>
  <xs:element name="PostalCode" type="def_nonempty_string"/>
  <xs:element name="CountryName">
    <xs:complexType>
      <xs:attribute name="Code" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][A-Z]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <!-- A Coment element with a Name attribute, containing ListItems. -->

  <xs:group name="def_comment">
    <xs:sequence>
      <xs:element name="Comment">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="unbounded" ref="ListItem"/>
                <xs:element maxOccurs="unbounded" name="Text"/>
            </xs:choice>
          </xs:sequence>
          <xs:attribute name="Name" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="included services"/>
                <xs:enumeration value="customer comment"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>


  <!-- The HotelReservationIDs element. -->

  <xs:element name="HotelReservationIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HotelReservationID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelReservationID">
    <xs:complexType>
      <xs:attribute name="ResID_Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ResID_Value" type="def_nonempty_string"/>
      <xs:attribute name="ResID_Source" type="def_nonempty_string"/>
      <xs:attribute name="ResID_SourceContext" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>


  <!-- The following are some simple building blocks. -->

  <xs:element name="RoomTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RoomType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RoomType">
    <xs:complexType>
      <xs:attribute name="RoomTypeCode" use="required" type="def_nonempty_string"/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="def_gender_attribute">
    <xs:attribute name="Gender" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="(Unknown|Male|Female)"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="def_birthdate_attribute">
    <xs:attribute name="BirthDate" use="required" type="def_date"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="def_createdatetime">
    <xs:attribute name="CreateDateTime" use="required" type="def_datetime"/>
  </xs:attributeGroup>

</xs:schema>
